@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
html,body {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;
}
body {
    font-family: 'Stack Sans Text';
    font-size: 20px;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fixedmaxwidth {
    margin: 0 auto;
    max-width: 1200px;
}
.fixedmaxwidthplus {
    margin: 0 auto;
    max-width: 1180px;
}

/* START OF HEADER */

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 15px;
}

.logo-link {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
}

.logo-link p {
    display: none;
}

.logo-link img {
    width: inherit;
    height: inherit;
}

.header-main-links {
    display: flex;
    gap: 20px;
}

.header-main-links * {
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

#nav-item1:hover {
    color: #75C149;
    cursor: pointer;
}

#nav-item2 {
    border-bottom: 2px solid black;
    user-select: none;
}

#nav-item3:hover {
    color: #75C149;
    cursor: pointer;
}

#nav-item4:hover {
    color: #75C149;
    cursor: pointer;
}

/* END OF HEADER */

/* BURGERMENU START */

#burgermenu {
    display: none;
}

.burgermenu-popup {
    display: none;
}

#burgerclose {
    width: 30px;
    height: 30px;
    display: none;
}
#burgeropen {
    width: 35px;
    height: 35px;
    display: none;
}

.burger-links-container {
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.847);
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
    gap: 5px;
}

.burger-links-container a {
    text-align: center;
    text-decoration: none;
    color: white;
}
.burger-links-container p {
    text-align: center;
    color: #75C149;
    font-weight: 600;
}

/* BURGERMENU END */


/* START OF CONTACT */

.contact-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#contact-wisniowa-data{
    display: none;
}
#contact-zakow-data {
    display: none;
}

.contact-container img {
    width: 4%;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(7500%) hue-rotate(192deg) brightness(113%) contrast(110%);
    margin-left: 20px;
}
.contact-container p {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    margin-right: 20px;
    max-width: 60%;
    text-align: right;
}

.contact-container h1 {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}

.contact-container select {
    background-color: #0000005b;
    border: 2px solid #75C149;
    color: white;
    width: 30%;
    text-align: center;
    margin: 10px auto 20px auto;
    font-size: 24px;
    border-radius: 5px;
}

.contact-container select:active {
    background-color: #0000005b;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.62);
    box-shadow: 0 0px 7px 4px #75C149;
    padding: 20px;
}

.contact-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-data-container span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    border-bottom: 2px dashed white;
}

.contact-data-container span:first-child {
    border-top: 2px dashed white;
}

/* END OF CONTACT */


/* START OF FOOTER */

footer {
    width: 100%;
    background-color: #75C149;
}

.footer-wrap {
    padding: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    font-weight: 500;
}

.footer-container img {
    width: 4%;
    height: auto;
}

/* START OF OPTIMIZATION CONTACT */

@media screen and (max-device-width: 1800px) {
    .contact-container select {
        font-size: 20px;
    }
}

@media screen and (max-device-width: 1215px) {
    .fixedmaxwidth {
        max-width: 1000px;
    }
    .fixedmaxwidthplus {
        max-width: 930px;
    }
    body {
        font-size: 16px;
    }
    .contact-container select {
        font-size: 19px;
    }
}
@media screen and (max-device-width: 1050px) {
    .fixedmaxwidth {
        max-width: 800px;
    }
    .fixedmaxwidthplus {
        max-width: 730;
    }
    .contact-data-container span {
        flex-direction: column;
    }
    .contact-container p {
        max-width: 80%;
    }
    .contact-container img {
        margin: 0;
        width: 6%;
    }
    .contact-container p {
        margin: 0;
        text-align: center;
    }
    .contact-container p {
        font-size: 1.3em;
    }
    .contact-container h1 {
        font-size: 32px;
    }
}

@media screen and (max-device-width: 850px) {
    .fixedmaxwidth {
        max-width: 700px;
    }
    .fixedmaxwidthplus {
        max-width: 630px;
    }
    .contact-container img {
        width: 8%;
    }
    .contact-container h1 {
        font-size: 30px;
    }
    body {
        font-size: 16px;
    }
}

@media screen and (max-device-width:777px) {

    
    .footer-container img {
        width: 5%;
    }

    .logo-link {
        width: 80px;
        height: 80px;
    }

    .fixedmaxwidth {
        max-width: 640px;
    }
    .fixedmaxwidthplus {
        max-width: 560px;
    }
}

@media screen and (max-device-width:641px) {

    .footer-container img {
        width: 6%;
    }

    .fixedmaxwidth {
        max-width: 600px;
    }
    .fixedmaxwidthplus {
        max-width: 530px;
    }
    .contact-container p {
        font-size: 1.1em;
    }
}

@media screen and (max-device-width:570px) {

    .fixedmaxwidth {
        max-width: 450px;
    }
    .fixedmaxwidthplus {
        max-width: 380px;
    }

    .footer-container img {
        width: 8%;
    }

    body {
        font-size: 16px;
    }
}

    @media screen and (max-device-width:521) {
        #burgermenu {
            display: none;
        }

        #burgerclose {
            display: none;
        }
        #burgeropen {
            display: none;
        }

        .header-main-links {
            display: flex;
        }
    }

    @media screen and (max-device-width:520px) {

    #burgermenu {
        display: block;
    }

    #burgerclose {
        display: none;
    }
    #burgeropen {
        display: block;
    }

    .header-main-links {
        display: none;
    }

    .logo-link {
        width: auto;
        height: 80px;
        text-decoration: none;
    }

    .logo-link p {
        display: block;
        margin-left: 10px;
        color: black;
        font-size: 18px;
        font-weight: 400;
    }
    .contact-container select {
        font-size: 14px;
    }
    .contact-container select {
        width: 50%;
        max-height: 20%;
    }
}

    @media screen and (max-device-width: 450px) {
        .fixedmaxwidth {
            max-width: 400px;
        }
        .fixedmaxwidthplus {
            max-width: 330px;
        }
    }

    @media screen and (max-device-width: 450px) {
        .fixedmaxwidth {
            max-width: 350px;
        }
        .fixedmaxwidthplus {
            max-width: 280px;
        }
    }
    
    @media screen and (max-device-width: 360px) {
    .fixedmaxwidth {
        max-width: 300px;
    }
    .fixedmaxwidthplus {
        max-width: 230px;
    }
    .logo-link p {
        display: none;
    }
}
    @media screen and (max-device-width: 340px) {
        #schedule {
            font-size: 16px
        }
        .contact-container img {
            width: 10%;
        }
        .contact-container h1 {
            font-size: 28px;
        }
    }    
    @media screen and (max-device-width: 315px) {
        .contact-container h1 {
            font-size: 24px;
        } 
        .fixedmaxwidth {
            max-width: 230px;
        }
        .fixedmaxwidthplus {
            max-width: 160px;
        }
    }
    @media screen and (max-device-width: 240px) {
        .contact-container h1 {
            font-size: 20px;
        }
        body {
            font-size: 10px;
        }
        #schedule {
            font-size: 12px
        }
        .fixedmaxwidth {
            max-width: 180px;
        }
        .fixedmaxwidthplus {
            max-width: 110px;
        }
    }

