@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,body {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Stack Sans Text';
    font-size: 18px;
    font-weight: 300;
}

.fixedmaxwidth {
    margin: 0 auto;
    max-width: 1200px;
}


/* START OF HEADER */

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.logo-link {
    width: 100px;
    height: 100px;
}

.logo-link img {
    width: inherit;
    height: inherit;
}

.header-main-links {
    display: flex;
    gap: 20px;
}

.header-main-links * {
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

#nav-item1:hover {
    color: #75C149;
    cursor: pointer;
}

#nav-item2:hover {
    color: #75C149;
    cursor: pointer;
}

#nav-item3:hover {
    color: #75C149;
    cursor: pointer;
}

#nav-item4:hover {
    color: #75C149;
    cursor: pointer;
}

/* END OF HEADER */



/* START OF CONSTRUCTION */

.constructing {
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
}

.constructing h1 {
    font-size: 26px;
    font-weight: 500;
    border-radius: 5px;
}

.constructing a {
    color: black;
    transition: 0.2s ease-in-out;
}

.constructing a:hover {
    color: #75C149;
}

/* END OF CONSTRUCTION */



/* START OF OFFERS */

.offers {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.offers p {
    padding: 0 0 10px 0;
}

.offer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.77);
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.offer:hover {
    box-shadow: 0 0px 7px 4px #75C149;
}

.offer-title {
    font-weight: 400;
    margin-bottom: 5px;
}

.offer-text {
    font-weight: 300;
}


/* END OF OFFERS*/



/* START OF RATEMAPSFIELD */

.rate-maps-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.rate-maps-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.rate-title {
    margin-bottom: 15px;
}


.rate-maps-selection select {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffffad;
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}

.rate-button {
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.62);
    transition: all 0.2s ease-in-out;
    font-size: 22px;
}

.rate-button p {
    color: white;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.rate-button:hover{
    box-shadow: 0 0px 10px 4px #75C149;
}
.rate-button:hover p{
    color: #75C149;
}

.rate-button:active p {
    color: white;
}

.rate-button:active {
    box-shadow: none;
}



/* END OF RATEMAPSFIELD */


/* START OF FOOTER */

.footer-wrap {
    padding: 10px;
    background-color: #75C149;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;
}

.footer-container img {
    width: 4%;
    height: auto;
}