@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Stack Sans Text';
    font-size: 18px;
    font-weight: 300;
}

.fixedmaxwidth {
    margin: 0 auto;
    max-width: 1200px;
}

/* START OF HEADER */

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 15px;
}

.logo-link {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
}

.logo-link p {
    display: none;
}

.logo-link img {
    width: inherit;
    height: inherit;
}

.header-main-links {
    display: flex;
    gap: 20px;
}

.header-main-links * {
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

#nav-item1 {
    border-bottom: 2px solid black;
    user-select: none;
}

#nav-item2:hover {
    color: #75C149;
    cursor: pointer;
}

#nav-item3:hover {
    color: #75C149;
    cursor: pointer;
}

#nav-item4:hover {
    color: #75C149;
    cursor: pointer;
}

/* BURGERMENU START */
.burgermenu {
    filter: brightness(0) saturate(100%);
    display: none;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2.5em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
/* BURGERMENU END */

/* END OF HEADER */



/* START OF CONSTRUCTION */

.constructing {
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
}

.constructing h1 {
    font-size: 26px;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
}

.constructing a {
    color: black;
    transition: 0.2s ease-in-out;
}

.constructing a:hover {
    color: #75C149;
}

/* END OF CONSTRUCTION */



/* START OF OFFERS */

.offers {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.offers p {
    padding: 0 0 10px 0;
}

.offer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.77);
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.offer:hover {
    box-shadow: 0 0px 7px 4px #75C149;
}

.offer-title {
    font-weight: 400;
    margin-bottom: 5px;
}

.offer-text {
    font-weight: 300;
}


/* END OF OFFERS*/


/* START OF FILLER */

.filler-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.gallery-title {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 10px;
}

.filler-images-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}   

.filler-images-container img {
    width: 25%;
    height: auto;
    margin: 0 10px 10px 10px;
}

/* END OF FILLER */



/* START OF FOOTER */

.footer-wrap {
    padding: 10px;
    background-color: #75C149;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;
}

.footer-container img {
    width: 4%;
    height: auto;
}

/* END OF FOOTER */


/* START OF OPTIMIZATION HOME */

@media screen and (max-device-width:777px) {

    .footer-container img {
        width: 5%;
    }

    .logo-link {
        width: 80px;
        height: 80px;
    }

    .filler-images-container img {
        width: 30%;
    }

    .constructing h1 {
        font-size: 20px;
    }

    .fixedmaxwidth {
        margin: 0 auto;
        max-width: 700px;
    }
}

@media screen and (max-device-width:641px) {

    .footer-container img {
        width: 6%;
    }

    .constructing h1 {
        font-size: 18px;
    }

    .filler-images-container img {
        width: 35%;
    }

    .fixedmaxwidth {
        margin: 0 auto;
        max-width: 600px;
    }
}

@media screen and (max-device-width:570px) {

    .footer-container img {
        width: 8%;
    }

    body {
        font-size: 16px;
    }

    .constructing h1 {
        font-size: 16px;
    }

    .fixedmaxwidth {
        margin: 0 auto;
        max-width: 500px;
    }

    .filler-images-container img {
        width: 40%;
    }
}

    @media screen and (max-device-width:520px) {

    .burgermenu {
        display: block;
    }
    .header-main-links {
        display: none;
    }

    .logo-link {
        width: auto;
        height: 80px;
        text-decoration: none;
    }

    .logo-link p {
        display: block;
        margin-left: 10px;
        color: black;
        font-size: 18px;
        font-weight: 400;
    }
}