@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
html,body {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;
}
body {
    font-family: 'Stack Sans Text';
    font-size: 18px;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fixedmaxwidth {
    margin: 0 auto;
    max-width: 1200px;
}

/* START OF HEADER */

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.logo-link {
    width: 100px;
    height: 100px;
}

.logo-link img {
    width: inherit;
    height: inherit;
}

.header-main-links {
    display: flex;
    gap: 20px;
}

.header-main-links * {
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

#nav-item1:hover {
    color: #75C149;
    cursor: pointer;
}

#nav-item2 {
    border-bottom: 2px solid black;
    user-select: none;
}

#nav-item3:hover {
    color: #75C149;
    cursor: pointer;
}

#nav-item4:hover {
    color: #75C149;
    cursor: pointer;
}

/* END OF HEADER */


/* START OF CONTACT */

.contact-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#contact-wisniowa-data{
    display: none;
}
#contact-zakow-data {
    display: none;
}

.contact-container img {
    width: 4%;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(7500%) hue-rotate(192deg) brightness(113%) contrast(110%);
    margin-left: 20px;
    
}
.contact-container p {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    margin-right: 20px;
    max-width: 60%;
    text-align: right;
}

.contact-container h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.contact-container select {
    background-color: #0000005b;
    border: 2px solid #75C149;
    color: white;
    width: 30%;
    text-align: center;
    margin: 10px auto 20px auto;
    font-size: 24px;
    border-radius: 5px;
}

.contact-container select:active {
    background-color: #0000005b;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;
    max-height: 60%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.62);
    box-shadow: 0 0px 7px 4px #75C149;
}


.contact-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-data-container span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    border-bottom: 2px dashed white;
}

.contact-data-container span:first-child {
    border-top: 2px dashed white;
}

/* END OF CONTACT */


/* START OF FOOTER */

footer {
    width: 100%;
    background-color: #75C149;
}

.footer-wrap {
    padding: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    font-weight: 500;
}

.footer-container img {
    width: 4%;
    height: auto;
}

@media screen and (max-device-width:900px) {

    .footer-container img {
        width: 5%;
    }

    .logo-link {
        width: 80px;
        height: 80px;
    }

    .constructing h1 {
        font-size: 20px;
    }

    .fixedmaxwidth {
        margin: 0 auto;
        max-width: 700px;
    }

    .contact-container p {
        font-size: 1em;
    }

    .contact-container h1 {
        font-size: 1em;
    }
}

@media screen and (max-device-width:641px) {

    .footer-container img {
        width: 6%;
    }

    .constructing h1 {
        font-size: 18px;
    }

    .fixedmaxwidth {
        margin: 0 auto;
        max-width: 600px;
    }
}

@media screen and (max-device-width:570px) {

    .footer-container img {
        width: 8%;
    }

    body {
        font-size: 16px;
    }

    .constructing h1 {
        font-size: 16px;
    }

    .fixedmaxwidth {
        margin: 0 auto;
        max-width: 500px;
    }


}